<!DOCTYPE html>
<html lang="he" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Hebrew Project</title>
		
		<!-- Description -->
		<meta name="description" content="Hebrew Project Site" />
		<meta name="keywords" content="hebrew lessons, hebrew courses, box, hebrew tests, hebrew grammar" />
		<meta name="David" content="David.Inc" />
		<link rel="shortcut icon" href="img/Site_logo.jpg" />
		<link rel="icon" href="img/Site_logo.jpg" />
		<link rel="shortcut icon" href="img/Site_logo.jpg" />

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/demo1.css" />
		<link rel="stylesheet" type="text/css" href="css/innerBase.css" />
		<link rel="stylesheet" type="text/css" href="css/quiz.css" />

		<!-- Font -->
		<link href="https://fonts.googleapis.com/css?family=Rubik|Secular+One&display=swap" rel="stylesheet" />

		<!-- jQuerry -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
		<!-- Vue -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- Quiz Stuff -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>

		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	</head>
	<body class="demo-1">
		<svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
			</symbol>
		</svg>
		<main>
			<div class="message">To see the menu, please view on a larger screen.</div>
			<div class="content content--fixed">
				<header class="codrops-header">
					<!--<div class="codrops-links">
						<a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/GlitchSlideshow/" title="Previous Demo"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></a>
						<a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=34419" title="Back to the article"><svg class="icon icon--drop"><use xlink:href="#icon-drop"></use></svg></a>
					</div>-->
					<h1 class="codrops-header__title">Hebrew Project</h1>
					<!--<span class="info">Inspired by <a href="https://www.youtube.com/watch?v=Z9Ku5ptjzKw">Ableton Live 10: What's New</a></span>-->
				</header>
				<!--<nav class="demos">
					<a class="demo demo--current" href="index.html">demo 1</a>
					<a class="demo" href="index2.html">demo 2</a>
					<a href="https://github.com/codrops/GridMenu" class="github">github</a>
				</nav>-->
				<button class="menu-trigger">+ info</button>
			</div>
			<div id="content-1" class="content content--switch content--switch-current">
				<h2 class="content__title">פרויקט בעברית</h2>
				<div class="content__date">15 March 2020</div>
				<div class="content__location">Tel-Aviv, Israel</div>
				<q dir="rtl"> בתחילת העבודה, יש לציין, היה לנו קצת קשה. רצינו ליצור אתר יפה, שירשים את הגולשים, והבנו שבכדי לעשות זאת צריך להשקיע הרבה זמן. במבט לאחור, מאוד נהנינו בהכנת העבודה ומקווים שהיא תעזור לתלמידים בהמשך. </q>
			</div>
			<div id="content-2" class="content content--switch" dir="rtl">
				<p class="content__text">
					<a href="https://docs.google.com/forms/d/14TdHIniwbL2w1UsBwGGo13syqrXVyFjJ8RiC1x5uLuA/viewform?edit_requested=true" target="_blank">שאלון בעברית (קצר)</a>
					<br>
					<a href="https://docs.google.com/forms/d/1xaSxw93mSnC7IYUGVrJHQDumrGP6d67qe9RJuFJwVyk/edit" target="_blank">שאלון בעברית (ארוך)</a>
				</p>
				<!--<section class="container">
                    questionBox-->
                    <!--<div class="questionBox" id="app">
                        transition -->
                        <!--<transition :duration="{ enter: 500, leave: 400 }" enter-active-class="animated zoomIn" leave-active-class="animated zoomOut" mode="out-in">
                            questionContainer-->
                            <!--<div class="questionContainer" v-if="questionIndex<quiz.questions.length" v-bind:key="questionIndex">
                                <header>
                                    <h1 class="title is-6">בוחן קצר</h1>
                                    progress-->
                                    <!--<div class="progressContainer">
                                        <progress class="progress is-info is-small" :value="(questionIndex/quiz.questions.length)*100" max="100">{{(questionIndex/quiz.questions.length)*100}}%</progress>
                                        <p>{{(questionIndex/quiz.questions.length)*100}}% שלם</p>
                                    </div>
                                    /progress-->
                                <!--</header>
                               questionTitle -->
                                <!--<h2 class="titleContainer title">{{ quiz.questions[questionIndex].text }}</h2>
                                quizOptions -->
                                <!--<div class="optionContainer">
                                    <div class="option" v-for="(response, index) in quiz.questions[questionIndex].responses" @click="selectOption(index)" :class="{ 'is-selected': userResponses[questionIndex] == index}" :key="index">
                                        {{ index | charIndex }}. {{ response.text }}
                                    </div>
                                </div>
                                quizFooter: navigation and progress-->
                                <!--<footer class="questionFooter">
                                    pagination-->
                                    <!--nav class="pagination" role="navigation" aria-label="pagination">
                                        back button -->
                                        <!--<a class="button" v-on:click="prev();" :disabled="questionIndex < 1">חזור</a>
                                        next button -->
                                        <!--<a class="button" :class="(userResponses[questionIndex]==null)?'':'is-active'" v-on:click="next();" :disabled="questionIndex>=quiz.questions.length">
                                            {{ (userResponses[questionIndex]==null)?'אבור':'הבא' }}
                                        </a>
                                    </nav>
                                    /pagination-->
                                <!--</footer>
                                /quizFooter-->
                            <!--</div>
                            /questionContainer-->
                            <!--quizCompletedResult-->
                            <!--<div v-if="questionIndex >= quiz.questions.length" v-bind:key="questionIndex" class="quizCompleted has-text-centered">
                                quizCompletedIcon: Achievement Icon -->
                                <!--<span class="icon">
                                    <i class="fa" :class="score()>2?'fa-check-circle-o is-active':'fa-times-circle'"></i>
                                </span>
                                resultTitleBlock-->
                                <!--<h2 class="title">
                                    You did {{ (score()>3?'an amazing':(score()<3?'a poor':'a good')) }} job!
                                </h2>
                                <p class="subtitle">
                                    Total score: {{ score() }} / {{ quiz.questions.length }}
                                </p>
                                <br>
                                <a class="button" @click="restart()">restart <i class="fa fa-refresh"></i></a>
                                /resultTitleBlock-->
                                <!--<div class="content__text" id="afterQuizLinks">
                                    <a href="https://docs.google.com/forms/d/14TdHIniwbL2w1UsBwGGo13syqrXVyFjJ8RiC1x5uLuA/viewform?edit_requested=true" target="_blank">שאלון בעברית (קצר)</a>
									<br>
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSfr2y9XwRCvJbztXb78T20BHwvBFFQ2_SOEIGLjdpVd64x_wA/viewform?vc=0&c=0&w=1" target="_blank">שאלון בעברית (ארוך)</a>
                                </div>
                            </div>
                            /quizCompetedResult-->
                        <!--</transition>
                    </div>
                   /questionBox-->
                <!--</section>
                /container-->
			</div>
			<div id="content-3" class="content content--switch">
				<div class="wrapper active-page1">
					<div class="page page1"  dir="rtl">
						<h1>שם המספר</h1>
						<p class="p1">כאשר אנו נרצה להגיד את המספר "10,500,000" בעברית, נגיד אותו כך: "עשרה מיליון וחצי שקלים". לא יהיה נכון להגיד "עשרה וחצי מיליון שקלים". למה? משום שהמילה 'וחצי' תמיד תתייחס למילה שלפניה, כך שכאשר כתוב "עשרה מיליון וחצי" הכוונה ל"חצי" מעשרה מיליון, כלומר ל- 15 מיליון. בעוד שאם נכתוב את המילה "וחצי" לאחר המילים "עשרה מיליון" המשמעות תהא 10.5 מיליון. מכאן, שמיקום המילה במשפט משנה את משמעות המשפט.</p>
						<img src="img/numbers-table.png">
						<p class="p2">כאשר נרצה לומר/לכתוב מספרים ממאה ומעלה, ספרת המאות תהיה בלשון נקבה: שלוש מאות ושבעים, שבע מאות ועשרים, שְׁמוֹנֶה מאות ועוד.
							כאשר נרצה לומר/לכתוב את המספרים מאלף ומעלה, ספרת האלפים תהיה בלשון זכר: שלושת אלפים וארבע מאות, ארבעת אלפים ושבעים, שמונה מיליונים.</p>
					</div>
					<div class="page page2" dir="rtl">
						<h2>ריבוי המספר</h2>
						<p>
							מהספרה 2 ועד המספר 10 שם העצם יהיה תמיד בלשון רבים. מהספרה 2 ועד המספר 10 שם העצם יהיה תמיד בלשון רבים. 
							מאחת עשרה ומעלה, שם העצם יהיה בין בלשון יחיד ובין בלשון רבים.
							מספר באלפים, ייאמר או ייכתב תמיד בלשון רבים למשל, ארבעת אלפים, עשרת אלפים וכו'. אולם, החל מהמספר 11 אלף הלשון תהיה תמיד בלשון יחיד, למשל, אחד-עשר אלף, עשרים וחמישה אלף וכו'.
							חריג לכך הוא "המיליון": מאחר והמילה לקוחה מהשפה האנגלית, ניתן יהיה לומר אותה בין בלשון יחיד והן בלשון רבים, החל מהספרה שניים ומעלה, למשל, ארבעה מיליון, חמישה מיליונים וכו'. 
						
							<dl>
								<dt>כללים נוספים:</dt>
								<dd><li type="1">
									תאריכים יהיו תמיד בלשון בזכר, בין אם הם על פי לוח השנה הלועזי ובין אם על פי הלוח העברי. למשל, חמישה בנובמבר, שבעה בכסלו, תשעה באב.
								</li><li type="1">
									המילה "פי" תמיד תהיה בלשון זכר – פי ארבעה, פי חמישה.
								</li>
								<li type="1">
									גילאים יהיו תמיד בלשון נקבה – ליאור בן חמש עשרה וחמישה חודשים, גל בת שתים עשרה וחצי.
								</li>
								<li type="1">
									כאשר משתמשים במילה "פעם", היא תמיד תהיה בלשון נקבה – פעם אחת, שלוש פעמים, שבע פעמים.
								</li></dd>
							</dl>
					</div>
					<div class="page page3" dir="rtl">
						<p class="p1">
							<span>מספר סתמי</span><br>
							מספר סתמי הוא מספר שלא בא לספור עצמים. סימן היכר ל"מספר סתמי" הוא שניתן להוסיף לפניו את המילה "מספר". נמחיש באמצעות דוגמאות:<br>
							פתחו בעמוד (מספר) 30, קו (מספר) 129 הגיע לתחנה, מס' ת"ז שלך הוא 12345678.
						</p>
						<p class="p2">
							<span>מספר מעורב</span><br>
							הגדרה: מספר שמורכב ממספר שלם ומשבר. 
							הכלל הוא: מספר + שם עצם + שבר.
							דוגמאות:<br>שלושה כדורים וחצי, שלושה משולשים וחצי, שני 3 שקלים וחצי, ולא – שלושה וחצי כדורים, שניים וחצי שקלים.
						</p>
						<p class="p3">
							<span>מספר חלקי (שבר)</span><br>
							כל השברים החל מרבע ולמעלה ממנו יהיו בלשון זכר.
							כל השברים מחמישית ולמטה ממנה יהיו בלשון נקבה.
							דוגמאות:<br>שלושה רבעים, שתי שמיניות, שבע חמישיות, ארבעה שלישים.
						</p>
						<img src="img/example-table.png">
					</div>
					<div class="page page4" dir="rtl">
						<dl class="dl1">
							<span>מש"ה מוציא וכל"ב מכניס</span>
							<dt>מתי יש להגות את האות א' במילים ומתי לא ?</dt>
							<dd><li>
								אחרי אותיות מש"ה, האות אלף נשמעת (משה מוציא את האלף החוצה, משמיע אותה).
							</li>
							<li>
								אחרי אותיות וכל"ב, האות אלף לא נשמעת (כלב מכניס את האות א' פנימה, מחביא אותה).
							</li>
								דוגמאות: להיות לכם לאלוקים(נשמע כמו 'להיות לכם ללוקים'), אין כאדוננו(נשמע כמו 'אין כדוננו').
							</dd>
						</dl>
						<h2>ניקוד אותיות וכל"ב</h2>
						<dl class="dl2">
							<dt>הכלל הבסיסי הוא שאותיות וכל"ב מנוקדות בשווא, למעט יוצאי הדופן הבאים:</dt>
							<dd><li type="1">
								אותיות וכל"ב הממוקמות לפני חטף תקבלנה את ניקוד תנועת החטף (תזכורת: חטף-פתח: אֲ, חטף-סגול: אֱ, חטף-קמץ: אֳ).
							</li>
							דוגמאות: וֶאֱמֶת, וַאֲנִי, כַּחֲלוֹם.
							<li type="1">
								אותיות וכל"ב הנמצאות לפני האות יוד, המנוקדת בשווא, תנוקדנה בחיריק והאות יוד נחה (כלומר אינה נשמעת).
							</li></dd>
						</dl>
						<img src="img/table-letters.png">
					</div>
				</div>
				<div class="nav-panel">
					<div class="scroll-btn up"></div>
					<div class="scroll-btn down"></div>
					<nav>
					  <ul>
						<li data-target="1" class="nav-btn nav-page1 active"></li>
						<li data-target="2" class="nav-btn nav-page2"></li>
						<li data-target="3" class="nav-btn nav-page3"></li>
						<li data-target="4" class="nav-btn nav-page4"></li>
					  </ul>
					</nav>
				</div>
			</div>
			<div id="content-4" class="content content--switch" dir="rtl">
				<h1>דו-משמעות – תחבירית</h1>
				<p class="p1">
					ישנם משפטים אשר ניתן להבינם בשני אופנים. מטרתנו היא לאתר את הדו-משמעות במשפט ולפרק את המשפט לשני משפטים שכל אחד מהם מייצג את משמעות אחת בלבד.<br>
					דוגמאות: <br><br>
					<dl>
						<dt>'ביקשנו מירין לנסוע לחו"ל':</dt>
						<dd><li type="a">ביקשנו מירין רשות לנסוע לחו"ל.</li><li type="a">ביקשנו מירין שייסע לחו"ל.</li></dd>
						<br>
						<dt>'חברו של המהנדס ואחיו הופיעו': </dt>
						<dd><li type="a">חברו של המהנדס ואחיו של המהנדס הופיעו ביחד.</li><li type="a">חברו של המהנדס ואחיו של החבר הופיעו ביחד.</li></dd>
						<br>
						<dt>'כוחות צה"ל נלחמו בעיראק':</dt>
						<dd><li type="a">כוחות צה"ל נלחמו בשטח עיראק.</li><li type="a">כוחות צה"ל נלחמו מול כוחות עיראק.</li></dd>
						<br>
						<dt>'חולצת הילדה הקטנה נקרעה:'</dt>
						<dd><li type="a">חולצתה של הילדה הקטנה נקרעה.</li><li type="a">חולצתה הקטנה של הילדה נקרעה.</li></dd>
					</dl>
				</p>
				<p class="p2">
					לעומת זאת - <br><br>
					'עובדי החברות החדשות:' <br>
					משפט זה אינו יכול להיות דו-משמעי, שכן הכינוי "החדשות" יכול להתייחס אך ורק לחברות – בנקבה, ולא לעובדי החברות – בזכר.<br>
					'מייסדת המפעל החשובה:' <br>
					גם משפט זה אינו יכול להיות דו-משמעי משום שהכינוי "החשובה" יכול להתייחס רק למייסדת – בנקבה, ולא למפעל עצמו – בזכר.
				</p>
			</div>
			<div id="content-5" class="content content--switch">
				<div class="wrapper active-page1">
					<div class="page page1"  dir="rtl">
						<h1>תפקידים תחביריים בלשון</h1>
						<h2>נשוא</h2>
						<dl class="dl1">
							<dd>
								<li type="a">
									הפועל במשפט. לנשוא יש מין ומספר כך שהם ניתנים לשינוי, כגון: ספרתי, ספור, *סיפרו נא* וכו'. מילת השאלה "לא" מצטרפת לנשוא. לדוגמא:<br>דני לא אכל את הארטיק.  הנשוא במשפט זה יהיה  "לא אכל", ולא רק המילה "אכל".
								</li>
								<br><br><br><br>
								<li type="a">
									נשוא מורחב – נשוא המורכב מיותר ממילה אחת. דוגמאות:
									<dd><li type="1">
										פועל + שם פועל.<br>
										דוגמאות:<br>"אני עלול לאחר לשיעור". 'עלול' – פועל, 'לאחר' – שם פועל, וביחד הם נשוא מורחב. "השוטר חייב לסכל את הפיגוע".
										'חייב' – פועל, 'לסכל' – שם פועל, וביחד הם נשוא מורחב.
									</li>
									<li type="1">
										שני פעלים ברצף המציינים פעולה אחת.
										דוגמאות:<br>"הרופא חזר והדגיש את דבריו". "חזר והדגיש" הם שתי מילים המציינות משמעות/פעולה אחת ולכן הם נשוא מורחב.
										"הוא מקפיד וקורא בכל יום". "מקפיד וקורא" – נשוא מורחב.
									</li>
									<li type="1">
										ניבים וביטויים.
										דוגמאות:<br>"הוא העלה חרס בידו". "העלה חרס בידו" זה ביטוי ולכן זה נשוא מורחב. "הוא גָּלָה אֶת-אֹזֶן אביו "(גילה לו סוד). "גלה את אוזן" זה ניב ולכן זה גם נשוא מורחב.
									</li></dd>
								</li>
							</dd>
						</dl>
						<dl class="dl2">
							<dd>
								c.
								נשוא מודאלי – כאשר מדברים על המלצות, איסורים וכיו"ב. למשל:
								"רצוי", "אסור", "מותר", "כדאי". במצב כזה, מילת ההמלצה/איסור תהיה הנשוא, ושם הפועל יהיה הנושא. דוגמאות:<br>"מותר לעשן". 'מותר' – נשוא מודאלי, 'לעשן' – נשוא. "אסור לשמוע". אסור – נשוא מודאלי, לשמוע – נשוא.							
							</dd>
							<br><br><br>
							<dd>
								d.
								נשוא במשפט שימני (משפט ללא שם פועל) יהיה החידוש במשפט. לרוב, החידוש יופיע משמאל לאוגד. לדוגמא:<br>"הלוחמים היו אמיצים".
								אמיצים – נשוא (החידוש במשפט), היו – אוגד (היה ונטיותיו).
							</dd>
							<br><br><br>
							<dd>
								e.
								כאשר יהיה ניתן להחליף את המילים "אין", "היה" ונטיותיו במילה "יש", והמשפט עדיין יישמע תקין, הן יהיו הנשוא במשפט. במידה ולא יהיה ניתן להחליף אותן במילה "יש", הן יהיו האוגד במשפט.
							</dd>
						</dl>
					</div>
					<div class="page page2" dir="rtl">
						<h2>נושא</h2>
						<p>
							בכדי למצוא את הנושא, יש לשאול, מי/מה עשה את הפעולה? והתשובה לכך תהיה הנושא במשפט. בנוסף, הנושא לא ייפתח במילת יחס כמו: ל, מ, את, ב וכו'. כמו כן, את הנושא מאתרים לאחר שהנשוא אותר קודם לכן.
							דוגמאות:<br>
							"יצחק הלך לשתות בחוץ": הלך לשתות – נשוא מורחב, יצחק – נושא (מי הלך לשתות?).
							"נורית עשתה את שיעורי הבית אתמול": עשתה – נשוא, נורית – נושא (מי עשתה את שיעורי הבית? ).
						</p>
						<dl>
							<dd><li>
								לעיתים הנשוא והנושא יופיעו ביחד – "הלכנו לבית של מנדל". 
								הלכנו – נושא + נשוא. 
							</li>
							<li>
								כאשר יש מספר אנשים/אובייקטים ברצף, הם יהוו נושא כולל.
								"יהלי, יינון וליאור הלכו לקולנוע". יהלי, ירון וליאור – נושא כולל.
							</li>
							<li>
								הנושא לא חייב להופיע לפני הנשוא, אלא גם לאחריו. לדוגמא: "על הכיסא מונח הקלמר": מונח – נשוא, קלמר – נושא.
							</li></dd>
						</dl>
					</div>
					<div class="page page3" dir="rtl">
						<h2>משלימי שם</h2>
						<p class="p1">משלימי השם הם חלקי המשפט אשר מתארים את העצם מבחינה כמותית, מספרית, איכותית ועוד....</p>
						
						<p class="p2"><span class="span1">לוואי</span><br>במשפט יכול להיות כמה פעמים "לוואי", ולפעמים אף לא פעם אחת. ה"לוואי" אינו יכול להיות עצמאי אלא יהיה בתוך חלק תחבירי אחר, כמו הנושא, או מצורף לשם עצם אחר.
						בנוסף, ניתן להשמיט את ה"לוואי" מהמשפט ועדיין הוא יישאר תקין. כיצד מזהים את ה"לוואי"?ה"לוואי" מתאר את שם העצם ולכן על מנת לזהות אותו יש לשאול, ביחס לשם העצם, שאלות כגון איזה, כמה, והתשובה לכך תהיה "לוואי". לדוגמא:
						"הילד הגבוה הלך לביתו": איזה ילד? "הגבוה" (לוואי).<br> 
							"האוטובוס של שמעון": איזה אוטובוס? "של שמשון" (לוואי).
							"שבעה ילדים אכלו ארוחת בוקר": כמה ילדים? שבעה (לוואי כמותי).
							המילה "של" (שייכות) תמיד תהיה בגדר "לוואי".</p>
						<p class="p3"><span class="span2">התמורה</span><br>התמורה היא חלק תחבירי המתאר את שם העצם ויכול אף להחליף אותו במשפט. סימן היכר לכך הוא, שאם נשמיט את שם העצם ונשאיר את התמורה, המשפט עדיין יישאר תקין ומשמעותו לא תשתנה.
							בנוסף, התמורה תמיד תהיה לאחר שם העצם. 
							דוגמאות: <br>
							"רוב התלמידים, ובמיוחד רועי, שי ולוי יקבלו הצטיינות היום". 
							"יקבלו" – נשוא, "רוב התלמידים" - נושא, "ובמיוחד רועי, שי ולוי" - תמורה כוללת.</p>
					</div>
					<div class="page page4" dir="rtl">
						<h2>משלימי פועל</h2>
						<p>מילה או קבוצת מילים המתארות את הפועל במשפט מבחינות שונות כגון: מידה, איכות, סיבה ועוד.
							יש לאתר את מ"פ (משלים הפועל) רק לאחר שמצאנו את הנשוא והנושא. כל מה שיהיה ניתן לומר במשפט עם הנושא והנשוא ועדיין יישמע הגיוני, הוא משלים פועל.
							דוגמאות:
						</p>
						<br>
						<dl>
							<dd><li>
								"שרון שאלה על המסעדה." : 'שאלה' – נשוא, 'שרון' – נושא, 'על המסעדה' – מ"פ.
							</li>
							<li>
								"דולב ענה נכון על השאלה שבספר." : 'ענה' – נשוא, 'דולב' – נושא, 'נכון' – מ"פ, 'על השאלה שבספר' – מ"פ, 'שבספר' – לוואי.
							</li>
							<li>
								"הם הצליחו לשבת על הספסל החמישי." : 'הצליחו לשבת' – נשוא מורחב, 'הם' – נושא, 'על הספסל' – מ"פ, 'החמישי' – לוואי (כמותי).
							</li>
							<li>
								"מחלת הקורונה התפשטה בסין בהתחלה." : 'התפשטה '– נשוא, 'מחלת הקורונה' – נושא, 'בסין' – מ"פ, 'בהתחלה' – מ"פ.
							</li></dd>
						</dl>
						<img src="img/משלימי פועל.png" />
					</div>
				</div>
				<div class="nav-panel">
					<div class="scroll-btn up"></div>
					<div class="scroll-btn down"></div>
					<nav>
					  <ul>
						<li data-target="1" class="nav-btn nav-page1 active"></li>
						<li data-target="2" class="nav-btn nav-page2"></li>
						<li data-target="3" class="nav-btn nav-page3"></li>
						<li data-target="4" class="nav-btn nav-page4"></li>
					  </ul>
					</nav>
				</div>
			</div>
			<div id="content-6" class="content content--switch">
				<div class="wrapper active-page1">
					<div class="page page1"  dir="rtl">
						<h1>קפ״ה</h1>
						<dl class="dl1">
							<span>קריאה – מילה או צירוף מילים, הבאים להביע רגש, צער, שמחה.</span>
							<dt>דוגמאות:</dt>
							<dd><li>"הידד, זכיתי במאה שקלים."</li>
								<li>"אוי ואבוי, הוא עומד ליפול!"</li>
								<li>"הי, איך קוראים לך?"</li></dd>
						</dl>
						<dl class="dl2">
							<span>פנייה – ציון שמו או כינויו של הגורם/האדם שאליו הדובר מפנה את דבריו.</span>
							<dt>דוגמאות:</dt>
							<dd><li>"בני, איך אתה מרגיש?" (הדובר מפנה את דברו אל בני).</li>
								<li>"בן אדם, מה לך נרדם?" (הדובר מפנה את דברו אל בן האדם).</li>
								<li>"חברים, אנחנו צריכים לסיים את העבודה." (הדובר מפנה את דברו אל החברים.)</li></dd>
						</dl>
					</div>
					<div class="page page2" dir="rtl">
						<h2>הסגר</h2>
						<dl>
							<dt><li type="1">מילה או ביטוי, המביעים את תחושתו או  דעתו של האומר ביחס לדברים הנאמרים במשפט.</li></dt>
							<br>
							<dt>דוגמאות:</dt>
							<dd><li>"לא הצלחתי להגיע בזמן לתפילה, לצערי הרב" (הביטוי "לצערי הרב" מביע את תחושת/הרגשת האומר בהקשר למשפט.)</li>
								<li>"ככל הנראה, לא יהיה חם היום" (הביטוי "ככל הנראה" מביע את דעתו של האומר בהקשר למשפט.)</li>
								<li>ייתכן כי לא אגיע היום לבית-הספר. (הביטוי "ייתכן" מביע את דעתו של האומר ביחס למשפט.)</li></dd>
							<br>
							<dt>2. ביטויים שמטרתם לציין מסירת דברי אחרים.</dt>
							<br>
							<dt>דוגמאות:</dt>
							<dd><li>"על פי דבריו של עורך הדין, לא נצליח למכור את הבית." (הביטוי "על פי דבריו" מציין את דבריו של עורך הדין.)</li>
								<li>לגרסת הנאשם, הוא לא פרץ לבית." (המילה "לגרסת" מציינת את דברי הנאשם).</li></dd>
							<br>
							<dt>3. להבעת כבוד ע"י ביטויים מן המסורת היהודית.</dt>
							<br>
							<dt>דוגמאות:</dt>
							<dd><li>בשם השם נעשה ונצליח!</li>
								<li>ברוך ה', הצלחתי להגיע הביתה בשלום.</li>
								<li>גבריאל ז"ל היה אדם טוב.</li></dd>
							<br>
							<q>מילים אלו מופרדות בפסיק, והן לא חייבות להישאר במשפט בכדי שהוא יהיה תקין.</q>
						</dl>
					</div>
				</div>
				<div class="nav-panel">
					<div class="scroll-btn up"></div>
					<div class="scroll-btn down"></div>
					<nav>
					  <ul>
						<li data-target="1" class="nav-btn nav-page1 active"></li>
						<li data-target="2" class="nav-btn nav-page2"></li>
					  </ul>
					</nav>
				</div>
			</div>
			<nav class="grim">
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--1"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--2"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--3"></div>
					<div class="grim__item-content">
						<div class="grim__item-inner">
							<button class="menu-trigger menu-trigger--close">- close</button>
						</div>
					</div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--4"></div>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--5"></div>
					<a href="#content-1" class="grim__link grim__item-content">
						<div class="grim__item-inner">
							<h3 class="grim__item-title">בית</h3>
						</div>
					</a>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--6"></div>
					<a href="#content-2" class="grim__link grim__item-content">
						<div class="grim__item-inner">
							<h3 class="grim__item-title">בחנים</h3>
						</div>
					</a>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--7"></div>
					<a href="#content-3" class="grim__link grim__item-content">
						<div class="grim__item-inner">
							<h3 class="grim__item-title">שם המספר</h3>
							<span class="grim__item-desc">מספר סתמי, ריבוי המספר, מש"ה מוציא וכל"ב מכניס</span>
						</div>
					</a>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--8"></div>
					<a href="#content-5" class="grim__link grim__item-content">
						<div class="grim__item-inner">
							<h3 class="grim__item-title">תפקידים תחביריים בלשון</h3>
							<span class="grim__item-desc">נשוא, נושא, משלימי שם, תמורה, משלימי פועל</span>
						</div>
					</a>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--9"></div>
					<a href="#content-4" class="grim__link grim__item-content">
						<div class="grim__item-inner">
							<h3 class="grim__item-title">דו-משמעות – תחבירית</h3>
							<span class="grim__item-desc"></span>
						</div>
					</a>
				</div>
				<div class="grim__item">
					<div class="grim__item-bg grim__item-bg--10" data-duration="1000" data-easing="easeOutQuint"></div>
					<a href="#content-6" class="grim__link grim__item-content">
						<div class="grim__item-inner">
							<h3 class="grim__item-title">קפ״ה</h3>
							<span class="grim__item-desc">קריאה, פנייה, הסגר</span>
						</div>
					</a>
				</div>
			</nav>
		</main>
		<script src="js/innerScript.js"></script>
		<script src="js/textScript.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
		<script src="js/quiz.js"></script>
		<script src="js/demo.js"></script>
		<script src="js/anime.min.js"></script>
		<script src="js/menu.js"></script>
	</body>
</html>
